
@media (min-width: 1024px) and (max-width: 1366px) {
    .root{
        --padding-inline-section:5px;
      }
    }

/* media query max-width:991px */
@media only screen and (max-width : 991px) {

    .logo img {
        width: 80px;
        height: auto;
    }

    .big-learnings-container, #second-big-learnings{
        flex-direction: column;
    }

    #about {
        margin-top:1rem;
    }
    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }
    nav ul li {
        display: none;
    
    }
}

/* media query max-width:768px */
@media only screen and (max-width : 768px) {
    .primary-button {
        width: 100%;
    }
    .logo img {
        width: 60px;
        height: auto;
    }

    h1 {
        font-size: 2rem;
    }
    nav ul li {
        display: none;
    
    }
    .hover-link {

        font-size: 20px;
        font-weight: 400;
        padding: 8px;
    }

    .hover-link::after {
        height: 2px;
        top: 80%;
        left: 0;
 }
 .header-section{
    flex-direction: column-reverse;
    gap: 5px;
 }
 .header-left{
    max-width: 100vw;
    text-align: center;
}
.multiText{
    font-size: 24px;
}
.tab-links {
    margin-right: 20px;  
}

.tab-links.active-link::after {
    width: 50%; 
}

.tab-titles {
    justify-content: space-evenly; 
}

.tab-contents ul li span {
    font-size: 18px;
}
.big-learnings-container, #second-big-learnings{
    flex-direction: column;
}

    .tab-links::after{
        bottom: -5px;
    }

    .about-subtitle {
        text-align: center;
    }
    .primary-button{
        width: 80%; 
        font-weight: 600;
        padding: 10px 22px;
    }
    .submit-btn{
        width: 60%
    }
    .featured-works {
        margin: 2.5rem auto;
        padding: 2px;
    }
    .contact-title{
        text-align: center;
    }
    .contact-left p i {
        font-size: 24px;
    }
    .social{
        font-size:24px;
    }
    
 .featured-works {
    margin: 10px;
}

 .work {
    margin-bottom: 12px;
    
} 
}
/* media query max-width:480px */

@media only screen and (max-width:480px) {
        .root{
            --padding-inline-section:10px;
          }
          header{
            padding: 5px var(--padding-inline-section) 0;
        }
        .sub-title{
            font-size: 30px;
        }
  h1 {
      font-size: 16px;
  }
  
  h2 {
      font-size: 16px;
  }
  h3{
    font-size:14px;
  }
  p{
      font-size: 14px;
  }
  .primary-button{
    width: 80%; 
    font-size: 16px;
    font-weight: 400;
    padding: 8px 18px;

}
.work img {
    width: 100%; 
    max-width: 100%; 
}
.work{
    margin-top: 1rem;
}
.submit-btn{
    width: 40%
}
.multiText{
    font-size: 20px;
}
.title-name{
 font-size: 22px;
}
   .logo img {
        width: 50px;
        height: auto;
    }
    .tab-links {
        font-size: 14px; 
        margin-right: 10px; 
    }
    .tab-contents ul li {
        font-size: 14px; 
    }

    .tab-contents ul li span {
        font-size: 14px; 
    }
    #about {
        margin-top:10px;
    }
    .big-learnings-section{
        padding: 0px 10px 0;
    }
   .contact {
        margin-top: 1rem;
    }
    .contact-left p i {
        font-size: 22px;
    }
    .submit-btn{
        width: 40%
    }
    .social{
        font-size:22px;
    }
    footer{
        margin-top:1rem;
    }

}



