@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Montserrat&family=Poppins:wght@400;500&family=Roboto:ital,wght@0,400;1,700&display=swap');

/* -------resets--------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}
.b-text{
    font-weight: 600;
    color:var(--primary-text-color);
}

.primary-button {
    background-color: var(--accent-color);
    border-radius: 5px;
    font-weight: 400;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    font-size: 18px;
    text-align: center;
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}
.submit-btn{
    text-align: center;
    border: none;
    outline: none; 
    display: block;
    margin: 20px auto;

}

.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.sub-title {
    font-family: 'Bricolage Grotesque', sans-serif;
}
/* <!-- -------------nav-bar--------------- --> */

header {
    text-align: center;
    padding: 20px;
    background-color: #ececec;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; 
    padding: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1.3rem;
    font-weight: 400;
}

nav ul li a:hover {
    color:var(--accent-color);
    transform: translateY(-5px);
    font-weight:600;
    transition: 0.5s;
}

.profile {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.name-hi{
    color:	var(--accent-color);
}
.name-h{
    font-size: 2.5rem;
}

.download-resume-btn{
    margin-top: 1rem;
}
.multiText{
    font-size: 2rem;
}

/* <!-- -----------------about section------------------- --> */
#about {
    margin-top:3rem;
}

.about-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-2 p {
    text-align: justify;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    color:var(--primary-text-color);;
    
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--accent-color);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color:var(--primary-text-color);
    font-size: 18px;
    font-weight: 600;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}
/* ------------------Projects section --------------------*/

#learnings-Section{
    text-align: center;
    margin-top: 2rem;
}

.big-learnings-section{
    padding: 30px var(--padding-inline-section) 0;
    margin-top: 20px;
    flex-wrap: wrap;
}
.big-learnings-container{
    gap: 30px;
}

.learnings-img img{
    width:100%;
    border-radius: 10px;
}
.learnings-desc{
    
    flex-direction: column;
    align-items: flex-start;
}
.learnings-desc p{
    
   text-align: justify;
}
#second-big-learnings{
    flex-direction: row-reverse;
}
/*---------------------Certifications-------------------*/

.featured-works {
    max-width: 1200px;
    margin: 40px auto;
    padding: 10px;
}
.work{
    margin-top: 2rem;
}
.cert{
    text-align: justify;
}
.featured-title{
    text-align: center;
}
.work {
    background: #ececec42;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.work img {
    width: 50%; 
    height: auto; 
    border-radius: 5px;
    object-fit: cover;
    max-width: 50%; 
}

/*--------------------contact section----------------*/
.tab-contents ul li {
    list-style: none;
    margin: 2px 0;
}

.tab-contents ul li span {
    font-weight: bold;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.contact-left {
    flex-basis: 100%;
    display: grid;
    justify-content: center;
}


.contact-right {
    flex-basis: 100%;
}

.contact-left p {
    margin-top: 2rem;
}

.contact-left p i {
    color:var(--accent-color);
    margin-right: 15px;
    font-size: 25px;
    display: inline-block;
    transition: transform 0.5s;
  
}


.contact-left p i:hover {
    color: var(--accent-color-dark);
    transform: translateY(-5px);
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 2px solid var(--accent-color-dark);
    outline: none;
    background: transparent;
    padding: 15px;
    margin: 15px 0;
    color:var(--primary-text-color);
    font-size: 18px;
    border-radius: 6px;
}
/* -----------------footer------------ */
footer {
    text-align: center;
    padding: 20px;
    background-color: #ececec;
    margin-top: 3rem;
}

.social {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 1.5rem;

}
.social i {
color: var(--accent-color);

}
.social :hover {
    color: var(--accent-color-dark);
    transform: translateY(-5px);
    transition: 0.5s;
}

.social li {
    margin: 0 10px;
}




